.vscode/launch.json
.vscode/tasks.json
bin/Debug/netcoreapp2.0/Simplex.dll
bin/Debug/netcoreapp2.0/Simplex.pdb
bin/Debug/netcoreapp2.0/Simplex.deps.json
bin/Debug/netcoreapp2.0/Simplex.runtimeconfig.json
bin/Debug/netcoreapp2.0/Simplex.runtimeconfig.dev.json
obj/Simplex.csproj.nuget.cache
obj/Simplex.csproj.nuget.g.props
obj/Debug/netcoreapp2.0/Simplex.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.0/Simplex.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/Simplex.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.0/Simplex.AssemblyInfo.cs
obj/Debug/netcoreapp2.0/Simplex.pdb
obj/Debug/netcoreapp2.0/Simplex.dll
obj/project.assets.json
obj/Simplex.csproj.nuget.g.targets
Simplex.csproj
feio.cs
entrada.txt
obj/Debug/netcoreapp2.0/Simplex.csprojResolveAssemblyReference.cache
